PORT=4000
MONGODB_URI=
JWT_SECRET=
CLIENT_URL=http://localhost:3000
OWM_API_KEY=
GROQ_API_KEY=
REDIS_URL=
REDIS_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
VERCEL=
NODE_ENV=development
